<h1>New Article</h1>
<%= form_with model: @post do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %><br>
        <%= form.label :contents %>
        <%= form.text_area :contents %><br>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>



