<h1>New Article</h1>
<%= form_with model: @post do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
        <%= form.label :contents %>
        <%= form.textarea :contents %>
        <%= form.label :author %>
        <%= form.text_field :author %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>



